body {
  background-color: lightgray;
  font-family: "Playwrite GB S", cursive;
}

.logo {
  font-style: italic;
  color:darkgreen;
}

.logo:hover {
  color: rgb(32, 74, 110);
  cursor: pointer;

}

img{
  width: 50% !important;
  height: 50% !important;
}

.carousel-item{
  display: flex;
}